<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>{{ _('Edit Feed') }}</h1>
{% include 'flash.html' %}
<div class="well">
    <form class="form-horizontal" action="" method="post" name="edit">
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.feedUrl %} error{% endif %}">
            <label class="control-label" for="Feed Url">{{ _('Feed URL:') }}</label>
            <div class="controls">
                {{ form.feedUrl(maxlength = 64, class = "span4") }}
                {% for error in form.errors.feedUrl %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.name %} error{% endif %}">
            <label class="control-label" for="Feed Name">{{ _('Feed Name:') }}</label>
            <div class="controls">
                {{ form.name(maxlength = 64, class = "span4") }}
                {% for error in form.errors.name %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group{% if form.errors.tags %} error{% endif %}">
            <label class="control-label" for="Tags">{{ _('Tags:') }}</label>
            <div class="controls">
            {% if form.tags.choices != None %}
                {{ form.tags(class = "span4") }}
                {% for error in form.errors.tags %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            {% endif %}
            </div>
        </div>

        <div class="control-group{% if form.errors.single_tag%} error{% endif %}">
            <label class="control-label" for="oTag">{{ _('Other Tag:') }}</label>
            <div class="controls">
                {{ form.single_tag(class = "span4") }}
                {% for error in form.errors.single_tag %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="{{ _('Save Changes') }}">
            </div>
        </div>
    </form>
</div>
</form>
{% endblock %}
