<table class="table table-hover">
    <tr>
        {# Button pour les subscribe & unsubscribe#}
        <td width="70px">
            {% if not g.user.is_subscribed(feed) %}
            <form action="{{ url_for('subscribe') }}" method=post>
                <input type=hidden value={{feed.id}} name=feed>
                <input class="btn btn-primary" type=submit value=Subscribe>
            </form>
            {% else %}
            <form action="{{ url_for('unsubscribe') }}" method=post>
                <input type=hidden value={{feed.id}} name=feed>
                <input class="btn btn-inverse" type=submit value=Unsubscribe>
            </form>
            {% endif %}
        </td>
        <td>
            {% autoescape false %}
            <p><a href="{{feed.url}}">{{feed.title}}</a></p>
            {% endautoescape %}
            <p><strong><span id="item{{feed.id}}"><a href="{{ url_for('show_feed',feed=feed.title)}}"> {{feed.title}}</a></span></strong></p>
        {# Boutton pour les tags #}
            {% if feed.get_tags() %}
                <div class="btn-group">
                {% for tag in feed.get_tags() %}
                    <a class="btn btn-info" href="{{ url_for('show_feeds',tag=tag.name)}}">{{ tag.name }}</a>
                {% endfor %}
                </div>
            {% endif %}

        </td>
    </tr>
</table>
