<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Feeds</h1>
{% include 'flash.html' %}

{% for feed in feeds.items %}
    {% include 'feeditems.html' %}
{% endfor %}
<ul class="pager">
    {% if feeds.has_prev %}
    <li class="previous"><a href="{{ url_for('show_feeds', page = feeds.prev_num) }}">{{ _('Next feeds') }}</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">{{ _('Next feeds') }}</a></li>
    {% endif %}
    {% if feeds.has_next %}
    <li class="next"><a href="{{ url_for('show_feeds', page = feeds.next_num) }}">{{ _('Previous feeds') }}</a></li>
    {% else %}
    <li class="next disabled"><a href="#">{{ _('Previous feeds') }}</a></li>
    {% endif %}
</ul>
{% endblock %}
