<table class="table table-hover">
    <tr>
        {# Button pour les share & unshare#}
        <td width="70px">
            {% if not g.user.is_shared(item) %}
            <form action="{{ url_for('share') }}" method=post>
                <input type=hidden value={{item.id}} name=item>
                <input class="btn btn-primary" type=submit value=Share>
            </form>
            {% else %}

            <form action="{{ url_for('unshare') }}" method=post>
                <input type=hidden value={{item.id}} name=item>
                <input class="btn btn-inverse" type=submit value=Unshare>
            </form>
            {% endif %}
            {% if not g.user.oauth_token %}
            <a class="btn btn-success" href={{ url_for('get_twitter') }}>Tweetit</a>
            {% else %}
            <form action="{{ url_for('tweet') }}" method=post>
                <input type=hidden value={{item.id}} name=item>
                <input class="btn btn-warning" type=submit value=Tweeeeitit>
            </form>
            {% endif %}

        </td>
        <td>
            {% autoescape false %}
            <p>{{ _('%(title)s from %(when)s:', title ='<a href="%s">Link</a>' %item.link ,when = momentjs(item.date).fromNow())}}</p>
            {% endautoescape %}
            <p><strong><span id="item{{item.id}}">{{item.title}}</span></strong></p>
            {% autoescape false %}
            <div>{{item.summary}}</div>
            {% endautoescape %}
            {# Boutton pour les tags #}
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ url_for('edit_item',item=item.id)}}">Add Tag</a>
            {% if item.get_personal_tags(g.user) %}

                {% for tag in item.get_personal_tags(g.user) %}
                    <a class="btn btn-info" href="{{ url_for('user_tag_personal',tag=tag.name)}}">{{ tag.name }}</a>
                {% endfor %}
                </div>
            {% endif %}
                </div>
        </td>
    </tr>
</table>
