<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>{{ _('Shared, %(username)s Items', username = user.nickname) }}</h1>
{% include 'flash.html' %}

{% for item in items.items %}
    {% include 'items.html' %}
{% endfor %}
<ul class="pager">
    {% if items.has_prev %}
    <li class="previous"><a href="{{ url_for('user_share',username = user.nickname,page=items.prev_num)}}">{{ _('Newer items') }}</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">{{ _('Newer items') }}</a></li>
    {% endif %}
    {% if items.has_next %}
    <li class="next"><a href="{{ url_for('user_share',username = user.nickname, page = items.next_num) }}">{{ _('Older items') }}</a></li>
    {% else %}
    <li class="next disabled"><a href="#">{{ _('Older items') }}</a></li>
    {% endif %}
</ul>
{% endblock %}
